













/* 
===============
    Sidebar
===============
*/

.navbar {
    padding: 0;
    min-height: 50px;
    background: linear-gradient(90deg, oklch(0.78 0.18 70) 0%, oklch(0.74 0.21 55) 50%, oklch(0.72 0.22 40) 100% );
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);

    &.expand-header {
        padding: 0;
    }
}



.sidebar-wrapper {
    width: $sidebar-width;
    position: fixed;
    z-index: 1028;
    border-radius: 6px;
    transition: .600s;
    height: 100vh;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 70px;
    left: 16px;
    max-height: 87%;
    padding:15px;
}

.sidebar-theme {
    background: $sidebar-bg;
}

.sidebar-closed {
  &.main-container {
    padding: 0;
  }

  > {
    .sidebar-wrapper {
      left: -270px;
    }

    #content {
      margin-left: 0;
    }
  }
}

#sidebar {
    a{
        color: $sidebar-text;
    }
  .nav-icon {
    width: $sidebar-icon-size;
    height: $sidebar-icon-size;
    flex-shrink: 0;
    margin-right: 10px;
  }
  .navbar-brand .img-fluid {
    display: inline;
    width: 44px;
    height: auto;
    margin-left: 20px;
    margin-top: 5px;
  }

  .border-underline {
    border-left: 1px solid #ccc;
    height: 20px;
    margin-top: 18px;
    margin-left: 0px;
    margin-right: 8px;
  }

  * {
    overflow: hidden;
    white-space: nowrap;
  }
}

.shadow-bottom {
  display: block;
  position: absolute;
  z-index: 2;
  height: 33px;
  width: 100%;
  pointer-events: none;
  margin-top: -13px;
  left: -4px;
  -webkit-filter: blur(5px);
  filter: blur(3px);
  background: -webkit-linear-gradient(180deg, #f1f2f3 49%, #f1f2f3f2 85%, #2C303C00);
  background: linear-gradient(#F2F4F4 41%, rgba(255, 255, 255, 0.11) 95%, rgba(255, 255, 255, 0));
}

#sidebar {
    ul.menu-categories {
        position: relative;
        margin: auto;
        width: 100%;
        height: calc(100vh - 127px) !important;
        overflow: hidden;

        &.ps {
            height: calc(100vh - 107px) !important;
            margin-right: 0;
            padding-right: 22px;
            border-right: 1px solid $sidebar-border;
        }
    }

    .ps__thumb-y {
        right: 4px;
    }

    ul.menu-categories {
        li {
            > .dropdown-toggle {
                &[data-active="true"] svg.feather-chevron-right, &[aria-expanded="true"] svg.feather-chevron-right {
                    transform: rotate(90deg);
                }
            }

            &.menu {
                &:first-child {
                    ul.submenu > li a {
                        justify-content: flex-start;

                        i {
                            align-self: center;
                            margin-right: 12px;
                            font-size: 19px;
                            width: 21px;
                        }
                    }

                    > .dropdown-toggle {
                        margin-top: 21px;
                    }
                }

                > .dropdown-toggle {
                    display: flex;
                    justify-content: space-between;
                    cursor: pointer;
                    font-size: 16px;
                    color: $sidebar-text;
                    padding: $sidebar-item-padding-y $sidebar-item-padding-x;
                    transition: .300s ease;
                    margin-bottom: 4px;
                    font-weight: 600;
                    letter-spacing: 0;
                    border-radius: $sidebar-radius;
                    background: transparent;

                    > div {
                        align-self: center;
                    }
                }

                .dropdown-toggle:after {
                    display: none;
                }

                > {
                    .dropdown-toggle {
                        svg {
                            color: #94a3b8; // slate-400 for icons
                            margin-right: 10px;
                            vertical-align: middle;
                            width: $sidebar-icon-size;
                            height: $sidebar-icon-size;
                            stroke-width: 1.6;
                        }

                        &[data-active="true"] {
                            background: $sidebar-active-bg;
                            border-radius: $sidebar-radius;
                            color: $white;

                            svg {
                                color: $white;
                                fill: transparent;
                            }
                        }

                        &:hover, &.dropdown-toggle:not([data-active="true"]):not([aria-expanded="true"]):hover {
                            background: $sidebar-hover-bg;
                            border-radius: $sidebar-radius;
                            color: $white;
                        }

                        &[aria-expanded="true"]:not([data-active="true"]) {
                            background: $sidebar-hover-bg;
                            border-radius: $sidebar-radius;
                            color: $white;
                        }

                        &:hover svg {
                            color: $white;
                        }

                        &[aria-expanded="true"]:not([data-active="true"]) svg {
                            color: $white;
                        }

                        svg.feather-chevron-right {
                            vertical-align: middle;
                            margin-right: 0;
                            width: 15px;
                        }
                    }

                    a span:not(.badge) {
                        vertical-align: middle;
                    }
                }
            }
        }

        ul > li a {
            position: relative;
            display: flex;
            justify-content: space-between;
            padding: $sidebar-item-padding-y $sidebar-item-padding-x;
            margin-left: 8px;
            font-size: 16px;
            color: $sidebar-text;
            border-radius: $sidebar-radius;
            transition: .200s ease;
        }

        li.menu ul.submenu > li a:before {
            content: '';
            background-color: #d3d3d3;
            position: absolute;
            height: 3px;
            width: 3px;
            top: 50%;
            transform: translateY(-50%);
            left: 13px;
            border-radius: 50%;
        }

        ul.submenu > li {
            &.active a {
                color: $white;
                background: $sidebar-active-bg;
                border-radius: $sidebar-radius;
                font-weight: 600;
            }

            a.dropdown-toggle {
                padding: $sidebar-item-padding-y $sidebar-item-padding-x;
            }
        }

        li.menu ul.submenu > li.active a:before {
            background-color: $sidebar-accent;
        }

        ul.submenu {
            > li {
                &.active {
                    position: relative;
                }

                a {
                    &:hover {
                        color: $white;
                        background: $sidebar-hover-bg;

                        &:before {
                            background-color: $sidebar-accent !important;
                        }
                    }

                    i {
                        align-self: center;
                        font-size: 9px;
                    }
                }
            }

            li > {
                [data-active="true"] {
                    i {
                        color: $sidebar-accent;
                    }

                    &:before {
                        background-color: $sidebar-accent !important;
                    }
                }

                a[data-active="true"] {
                    color: $white;
                    background: $sidebar-active-bg;
                }
            }

            > li ul.sub-submenu > li {
                a {
                    position: relative;
                    padding: 10px 12px 10px 48px;
                    padding-left: 13px;
                    margin-left: 47px;
                    font-size: 12px;
                    color: #515365;
                }

                &.active a {
                    color: $white;
                }

                a {
                    &:hover {
                        color: $text_2;
                    }

                    &:before {
                        display: none;
                    }
                }

                &.active a:before {
                    background-color: $sidebar-accent;
                }
            }
        }
    }
}

// Sidebar heading (menu section title) to reflect mockup header style
#sidebar .menu-heading .heading {
  padding: 24px $sidebar-item-padding-x;
  border-bottom: 1px solid $sidebar-border;
  color: $white;

  svg { color: $sidebar-text; }
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1035 !important;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  touch-action: pan-y;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.e-animated {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes e-fadeInUp {
  0% {
    opacity: 0;
    margin-top: 10px;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes e-fadeInUp {
  0% {
    opacity: 0;
    margin-top: 10px;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.e-fadeInUp {
  -webkit-animation-name: e-fadeInUp;
  animation-name: e-fadeInUp;
}

#sidebar 


.ps__rail-y {
  right: -4px !important;
}
