@model GESTION_COLEGIAL.UI.Models.ModalidadViewModel
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Create", "Modalidades", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">

        <div class="card">
            <div class="card-header">
                <h3>Registro de Razas</h3>
            </div>

            <div class="card-body">
                @Html.HiddenFor(model => model.Mda_Id)
                <div class="form-row">
                    @* Columna Descripción *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Mda_Descripcion, "Modalidad", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Mda_Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Mda_Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary"><i class="mdi mdi-content-save"></i> Guardar</button>
                @*</form>*@
            </div>
        </div>
    </div>
}

