@model GESTION_COLEGIAL.UI.Models.ParcialViewModel

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Save", "Parciales", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">

        <div class="card">
            <div class="card-header">
                <h3>Registro de Parciales</h3>
            </div>

            <div class="card-body">
                @Html.HiddenFor(model => model.Pac_Id)
                <div class="form-row">
                    @* Columna Descripción *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Pac_Descripcion, "Pac_Descripcion", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Pac_Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Pac_Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-content-save"></i> Guardar</button>
                </div>
            </div>
    </div>
}

