@{
    ViewBag.Title = "Home Page";
}


<div class="col-12 justify-content-center img-fluid rounded d-flex text-center " style="background-color: #FFE5D2; max-height:400px;">
    <img src="~/Content/img/mochila.jpg" class="" style="max-height:400px;" alt="coming_soon">
    <div class="img-content">
    </div>
</div>
<div class="row ">
        <div class="col-12 text-center pt-4">

            <h1 class="">Bienvenido</h1>
            <p class="">Disfruta de tu gestión online, manten</p>
            <p class="">todo organizado a un clic</p>
        </div>
</div>


