@using GESTION_COLEGIAL.UI.Controllers
@using System.Threading.Tasks;
@model GESTION_COLEGIAL.Business.Models.HomeAndChartsViewModel

@{
    ViewBag.Title = "Home Page";
    EncargadosController encargado = new EncargadosController();

}
<div class="container">

    <div class="row mb-2">

        <div class="col-md-6 col-xl-6 px-2">
            <div class="card rounded shadow-sm" style="background-color: #FFE5D2; ">
                <div class="card-body py-2">

                    <div class="row align-items-center d-flex" style="height: 193px;">

                        <div class="col-7 ">
                            <h1 class="">Bienvenido</h1>
                            <p class="">Disfruta de tu gestión online, manten todo organizado a un clic</p>

                            <p class="h6">
                                <i class="bi bi-thermometer-half"></i>
                                <span id="temp-c"></span> °C Temperatura exterior
                            </p>
                            <p class="h6"> <i class="bi bi-cloud-fog"></i>  <span id="humidity"></span>% Humedad</p>
                        </div>
                        <div class="col-5 justify-content-end img-fluid rounded d-flex text-center">
                            <img src="~/Content/img/mochila.jpg" class="" style="max-height:150px;" alt="coming_soon">
                            <div class="img-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-xl-6 px-2" style="height: 213px">

            <div class="card shadow-sm h-100">
                <div class="card-body py-2">
                    <div class="border-bottom border-primary mb-2">
                        <span class="card-title text-primary"><i class="bi bi-graph-up-arrow"></i> Matrícula: Variación Anual por Curso</span>
                    </div>
                    <div style="max-height: 150px; overflow-y: auto;">

                        <table class="table table-borderless align-middle loading-row" id="HomeAndCharts">

                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>


    @*cards*@


    @*tabla variacion anual*@

    <div class="row gx-1 mb-2">
        <div class="col-xl-3 col-sm-3 col-12 mb-2 px-2">
            <div class="card shadow-sm">
                <div class="card-body py-2">
                    <div class="row">
                        <div class="col">
                            <span class="text-primary text-sm d-block mb-2">
                                <i class="icon icon-shape text-primary text-lg rounded-circle fa-solid fa-graduation-cap fa-xl"></i>
                                Total de Graduados
                            </span>
                        </div>
                        <div class="col-auto">
                            <span class="h3 font-bold mb-0" id="graduados">4000</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-3 col-12 mb-2 px-2">
            <div class="card shadow-sm">
                <div class="card-body py-2">
                    <div class="row">
                        <div class="col">
                            <span class="text-primary text-sm d-block mb-2">
                                <i class="icon icon-shape text-primary text-lg rounded-circle fa-solid fa-chart-line fa-xl"></i>
                                Diferencia Promedio Anual
                            </span>
                        </div>
                        <div class="col-auto">
                            <span class="h3 font-bold mb-0" id="diferenciaPromedioAnual"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-3 col-12 mb-2 px-2">
            <div class="card shadow-sm">
                <div class="card-body py-2">
                    <div class="row">
                        <div class="col">
                            <span class="text-primary text-sm d-block mb-2">
                                <i class="icon icon-shape text-primary text-lg rounded-circle fa-solid fa-chart-pie fa-xl"></i>
                                Promedio Anual Actual
                            </span>
                        </div>
                        <div class="col-auto">
                            <span class="h3 font-bold mb-0" id="actualPromedioAnual"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-3 col-12 mb-2 px-2">
            <div class="card shadow-sm">
                <div class="card-body py-2">
                    <div class="row">
                        <div class="col">
                            <span class="text-primary text-sm d-block mb-2">
                                <i class="icon icon-shape text-primary text-lg rounded-circle fa-solid fa-user-plus fa-xl"></i>
                                Diferencia Nuevo Ingreso
                            </span>
                        </div>
                        <div class="col-auto">
                            <span class="h3 font-bold mb-0" id="diferenciaNuevoIngreso"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-5 px-2">
            <div class="card shadow-sm h-100">
                <div class="card-body py-2">
                    <div class="border-bottom border-primary ">

                        <span class="card-title text-primary"><i class="bi bi-person-lines-fill"></i> Cantidad de Alumnos por Curso</span>
                    </div>
                    <div>
                        <canvas id="obtenerCantidadAlumnosPorCurso" style="height: 193px !important;"></canvas>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 px-2" style="height: 231px;">
            <div class="card shadow-sm ">

                <canvas id="ObtenerPromedioCursoUltimosAnios" style="height: 231px !important; "></canvas>
            </div>
        </div>

    </div>


</div>

@section Scripts{
    <script src="~/Content/js/pages/eventos.js"></script>
    <script src="~/Content/js/pages/home.js"></script>
    <script>
        Eventos.datatableCatalogs({
            urlList: "@Url.Action("ListAsync")",
            urlInsert: "@Url.Action("CreateAsync")",
            urlUpdate: "@Url.Action("FindAsync")",
            urlDetail: "Detail"
        });
    </script>
}
