
@model GESTION_COLEGIAL.UI.Models.TituloViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Create", "Titulos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">

        <div class="card">
            <div class="card-header">
                <h3>Registro de Titulos</h3>
            </div>

            <div class="card-body">
                @Html.HiddenFor(model => model.Tit_Id)
                <div class="form-row">
                    @* Columna Descripción *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Tit_Descripcion, "Tit_Descripcion", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Tit_Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Tit_Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-content-save"></i> Guardar</button>
                </div>
            </div>
    </div>
}
