<div class="topbar">
    <div class="topbar-left">

    </div>
    <div class="navbar">
        <ul class="navbar_left">
            <li class="menu-wrapper">
                <button class="menu-button">
                    <i class="fas fa-bars"></i>
                </button>

            </li>
        </ul>
        <ul>
            <li>
                <i class="fas fa-bell"></i>
            </li>
            <li></li>
        </ul>
    </div>
</div>
<div id="sidemenu" class="sidemenu">
    <div class="nav-item">
        <a href="">Inicio</a>
    </div>
        <div class="nav-item">
        <a href="">Personas</a>
    </div>
        <div class="nav-item">
        <a href="">Horarios</a>
    </div>
</div>
