@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

.table th {
    color: #303e67;
    font-weight: 500;
    vertical-align: middle;
    border-color: #eaf0f7;
}

.table td {
    font-weight: 400;
    vertical-align: middle;
    border-color: #eaf0f7;
}

.table.border-dashed th {
    font-weight: 500;
    border-top: 1px dashed #eaf0f7;
}

.table.border-dashed td {
    border-top: 1px dashed #eaf0f7;
}

.table.border-dashed thead th {
    border-bottom: 2px dashed #eaf0f7;
}

.table.table-bordered thead {
    background-color: #f1f5fa;
}

.table .thead-light th {
    color: #303e67;
    background-color: #f1f5fa;
    border-color: #eaf0f7;
}

.table.table-dark {
    color: #f8f8fc;
}

    .table.table-dark th {
        color: #f8f8fc;
    }

/*===Datatable===*/
.table td {
    vertical-align: middle;
}

    .table td.highlight {
        font-weight: bold;
        color: #9ba7ca;
    }

    .table td.details-control {
        background: url("/images/open.png") no-repeat center center;
        cursor: pointer;
    }

.table tr.shown td.details-control {
    background: url("/images/close.png") no-repeat center center;
}

/*== Table Responsive ==*/
/* typical tablet screen resolution */
/* landscape orientation */
@media only screen and (min-width: 768px) {
    .datatable-header {
        -ms-flex-direction: row-reverse;
        -webkit-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
}

/* portrait orientation */
.table-rep-plugin .btn-toolbar {
    display: block;
}

.table-rep-plugin .btn-default {
    border: none;
    background: linear-gradient(14deg, #506ee4 0%, rgba(80, 110, 228, 0.6));
    color: #ffffff;
    margin-right: 5px;
    box-shadow: 0 7px 14px 0 rgba(80, 110, 228, 0.5);
    transition: .3s ease-out;
}

    .table-rep-plugin .btn-default:hover, .table-rep-plugin .btn-default:focus {
        color: #ffffff;
        box-shadow: 0 0 0 2px rgba(80, 110, 228, 0.3);
    }

    .table-rep-plugin .btn-default.btn-primary:active,
    .table-rep-plugin .btn-default.btn-primary:hover,
    .table-rep-plugin .btn-default.btn-primary:focus {
        border: none !important;
        background: linear-gradient(14deg, #506ee4 0%, rgba(80, 110, 228, 0.6));
        color: #ffffff;
        box-shadow: 0 0 0 2px rgba(80, 110, 228, 0.3);
    }

.table-rep-plugin tbody th {
    font-size: 14px;
    font-weight: normal;
}

.table-rep-plugin table.focus-on tbody tr.focused th,
.table-rep-plugin table.focus-on tbody tr.focused td {
    background-color: #506ee4;
    color: #ffffff;
}

/* Sticky Header */
.fixed-solution .sticky-table-header {
    top: 70px !important;
    background-color: #f8f8fc;
    border-top: 1px solid #e8ebf3;
    border-bottom: 1px solid #e8ebf3;
}

.table-responsive[data-pattern="priority-columns"] {
    border: 1px solid #e8ebf3;
}

.attendance-table .table thead tr th {
    padding: 5px;
}

/*====Footable table====*/
.dropdown-menu-right {
    right: 0;
    left: auto;
}

.open > .dropdown-menu {
    display: block;
}

.table.footable-details {
    color: #303e67;
}

.footable-filtering-external ul.dropdown-menu > li > a.custom-control input[type=checkbox],
table.footable > thead > tr.footable-filtering > th ul.dropdown-menu > li > a.custom-control input[type=checkbox] {
    position: absolute;
    margin-left: -20px;
    margin-top: 5px;
}

.footable-filtering-external ul.dropdown-menu > li > a.custom-control > label,
table.footable > thead > tr.footable-filtering > th ul.dropdown-menu > li > a.custom-control > label {
    display: block;
    padding-left: 30px;
}

td.footable-sortable > span.fooicon,
th.footable-sortable > span.fooicon {
    right: auto !important;
    padding-left: 5px;
}

/*====jsgrid table====*/
.jsgrid {
    height: auto !important;
}

    .jsgrid th {
        font-weight: 500;
    }

.jsgrid-edit-row > .jsgrid-cell,
.jsgrid-filter-row > .jsgrid-cell,
.jsgrid-grid-body, .jsgrid-grid-header,
.jsgrid-header-row > .jsgrid-header-cell,
.jsgrid-insert-row > .jsgrid-cell {
    background: inherit;
    border-color: #eaf0f7;
    height: auto !important;
    overflow: auto;
}

.jsgrid-cell {
    padding: 0.75rem;
    border: 1px solid #eaf0f7;
}

.jsgrid-alt-row > .jsgrid-cell {
    background: transparent;
}

.jsgrid-cell input,
.jsgrid-cell select {
    border: 1px solid #eaf0f7;
    box-shadow: none;
    outline: 0 none;
    padding: 8px;
    background-color: #fff;
    color: #303e67;
}

.jsgrid-header-row {
    font-weight: 300 !important;
    color: #303e67;
    background-color: #f1f5fa;
}

.jsgrid-selected-row > .jsgrid-cell {
    background: #f1f5fa;
    border-color: #eaf0f7;
}

.jsgrid-align-right {
    text-align: center;
}

.jsgrid-header-sortable {
    text-align: center;
}

.jsgrid-pager-container {
    margin-top: 16px;
}

.jsgrid .jsgrid-button {
    width: 22px;
    height: 22px;
    border: none;
    cursor: pointer;
    background-image: url("../../plugins/jsgrid/jsgrid.png");
    background-repeat: no-repeat;
    background-color: transparent;
}

.jsgrid-row > .jsgrid-cell {
    background: #fbfbfb;
}
