/*
	===============================
			@Import	Function
	===============================
*/
/*
	===============================
			@Import	Mixins
	===============================
*/
#datatable_filter label {
  width: 100%;
}

.breadcrumb {
  background-color: #fcead4;
}

.breadcrumb-item.active {
  color: #655b51;
}

#card-home {
  background-color: #F7A400;
}

#card-home h1,
#card-home h6,
#card-home p {
  color: white;
}

.card-header {
  background-color: white;
}

.sidenav {
  position: fixed;
  right: -30px;
  top: 125px;
  width: 236px;
  border-left: 1px solid #ffd8a8;
}
.sidenav .sidenav-header:after {
  display: none;
}
.sidenav .sidenav-header p {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
  background: #F7A400;
  text-align: center;
  border-radius: 5px;
  padding: 4px;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #F7A400 0%, #354051 100%);
}
.sidenav .sidenav-content {
  background-color: transparent;
  display: block;
  border: none;
}
.sidenav .sidenav-content a {
  display: block;
  padding: 3px 0px;
  color: #3b3f5c;
  font-size: 12px;
  padding: 3px 25px;
}
.sidenav .sidenav-content a.active {
  color: #354051;
  font-weight: 700;
  border-left: 1px solid #354051;
}
.sidenav .sidenav-content a:hover {
  color: #F7A400;
  font-weight: 700;
  border-left: 1px solid #354051;
}

#content > .container {
  display: flex;
  max-width: 58.333333% !important;
  margin-left: 80px;
  padding: 0 16px !important;
}
#content > .container > .container {
  padding: 0;
  margin: 0;
}

@media (max-width: 575px) {
  .sidenav .sidenav-content a {
    padding: 4px 7px;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
@media (max-width: 1199px) {
  .sidenav {
    display: none;
  }
  #content > .container {
    max-width: 100% !important;
    margin-left: auto;
  }
  #content > .container > .container {
    max-width: 100%;
  }
}
