
@model GESTION_COLEGIAL.UI.Models.DiaViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Create", "Dias", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">

        <div class="card">
            <div class="card-header">
                <h3>Registro de Dias</h3>
            </div>

            <div class="card-body">
                @Html.HiddenFor(model => model.Dia_Id)
                @* Columna Dia_Descripcion *@
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dia_Descripcion, "Dia_Descripcion", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Dia_Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Dia_Descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>
                <button type="submit" class="btn btn-primary"><i class="mdi mdi-content-save"></i> Guardar</button>
            </div>
        </div>
    </div>
}